<div class="card" style="width: 80%; margin: auto;">
  <div class="card-body">
    <h5 class="card-title">Logowanie</h5>
    <hr>
    <%= form_tag(:action => 'login_attempt') do %>

      <div class="form-group row">
        <div class="col-lg-2">
          Nazwa użytkownika:
        </div>
        <div class="col-lg-10">
          <%= text_field_tag(:username, nil, class: "form-control") %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-2">
            Hasło:
          </div>
          <div class="col-lg-10">
            <%= password_field_tag(:login_password, nil, class: "form-control") %>
          </div>
      </div>

      <% flash.each do |key, value| %>
        <div class="alert alert-danger">
            <%= value %>
        </div>
      <% end %>

      <p>
        <%= submit_tag("Zaloguj", :class => "btn btn-success") %>
      </p>

    <% end %>
  </div>
</div>
