<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" style="margin: auto; margin-bottom: 5px; width: 80%;">
    <%= value %>
  </div>
<% end %>
<div style="width: 80%; margin: auto; background-color: white; border-radius: 5px;">
  <h5>Bilety do zwrotu:</h5>
  <hr>

  <table class="table table-bordered">

    <thead>

    <tr>
      <th>Cena</th>
      <th>Data wydarzenia</th>
      <th>Wydarzenie</th>
      <th>Użytkownik</th>
      <th>Zwrot</th>
    </tr>
    </thead>

    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.price %></td>
        <td><%= ticket.event.date %></td>
        <td>
          <%= link_to ticket.event.name, event_path(ticket.event), style: "display: inline" %>
        </td>
        <td><%= ticket.user.name %></td>
        <td>
          <% if ticket.to_return != 0 %>
            <%= button_to('Zatwierdź zwrot', submit_return_ticket_path(id: ticket.id), :method => :delete, class: "btn btn-info") %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
